@font-face {
       font-family: "Press Start 2P";
}

html {
  background: #473EAC;
}
body {
  
  width: auto;
  margin: 50px auto;
  font-size: 24px;
  font-weight: bold;
  line-height: 10px;
  -webkit-font-smoothing: antialiased;
}
a:link {
    color: #8980E2;
}

/* visited link */
a:visited {
    color: #8980E2;
}

/* mouse over link */
a:hover {
    color: #000000;
}

/* selected link */
a:active {
    color: #8980E2;
}

.text {
  padding-top: 20px;
}
h1 {
  color: #8980E2;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 24px;
  margin-left: 58px;
  letter-spacing: 0px;	
  line-height: 26px;
}
.ready {
  color:#8980E2;
  font-family: 'Press Start 2P';
  font-size: 24px;
  margin-left: 58px;
  letter-spacing: 0px;	
  line-height: 26px;
  text-decoration: none;	
  	
}
#typed-cursor {
	font-weight: 100;
    font-size: 24px;
    color: #8980E2;
    margin-left: 58px;
      line-height: 26px;
 
	}	 
#typed-cursor.blinking {
  -webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}
@keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
    color: #8980E2;
 }
}
@-moz-keyframes blink {
	from,to {
	color: transparent;
}
 50% {
   color: #8980E2;
 }
}
@-webkit-keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
   color: #8980E2;
 }
}
@-ms-keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
   color: #8980E2;
 }
}
@-o-keyframes "blink" {
	from,to {
	color: transparent;
}
 50% {
   color: #8980E2;
 }
}